<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- css personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Janela Secundária</title>
</head>

<body>
    <h1>Janela secundária</h1>
    <!-- bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
</body>

</html>